.body{
    background-image: url(Hwajoe-Mu-Resort.JPG)
;
    width:100%;
    height:900px;
    background-repeat:no-repeat;
    background-size:cover;
    
    background-attachment: fixed;


}
.login{
    width:20%;
    height: 250px;
background:rgba(0,0,0,.7);
text-align: left;
    position: absolute;
    top:60%;
 right: 390px;
   
    padding: 80px;
    padding-top:170px;
}
.header{
 

    width:100%;
    height:77px;
  background: rgba(0,0,0,.8);
}
.subh{
     background: rgba(80,0,0,.8);
    width: 100%;
    height:10px;
   
}
.menu{
    width:100%;
    height:60px;
    background:rgba(0,0,0,.4);
}
.img{
    background-image: url(logo1.png);
    width:100%;
    height:76px;
    background-repeat:no-repeat;
    background-position: center center;}
.m{
list-style: none;
   width:100%;
    height:50px;
    display: block;
text-align: center;
    padding: 0;
    
}
.m li{
    
    display: inline-block;
    height: 100%;
}
.m li a{
    
    display: inline-block;
    padding: 10px 40px;
    color: orange;   
    text-decoration: none;
    line-height: 40px;
    
}
.m li a:HOVER {
    background: green;
}
.footer{
    background-color: black;
    width: 100%;
    height: 50px;}
p{color: red;}
input{padding: 10px;
text-align: center;}



/*main kam yha se hai*/

.log{ 
width:200px;
height:230px;
position:absolute;
top:calc(-20%/2);
    right:20%;}
.id{width: 100%;
height: 40px;
margin: 10px;
    border: NONE;
    border-bottom: 2px solid;
    background: transparent;
    font-size: 17px;
    
}
#logins{
    width: 100%;
    height: 40px;
    margin: 10px;
  background-color:red;
    border-radius: 10%;
    font-size: 16px;
    border:none;
    outline: none;
}
span{
    float: right;
}
button{
    float: right;
    margin-top: 20px;
    width:170px ;
    height: 40px;
 background-color: aqua;
border-radius: 10%;
border: none;
outline: none;}
a{
    color: red;
}
button:hover{
  background-color: greenyellow;
}
#logins:hover{color: greenyellow}
